body {
    background-image: url(../images/admin_bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow:hidden;
}

#top {
    color: white;
    font-size: 50px;
    font-family: '微软雅黑';
}

#top_admin {
    position: absolute;
    right: 5%;
    color: white;
    font-size: 30px;
    font-family: '微软雅黑';
}



hr {
    color: aliceblue;
}
